<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.guiajarinu"
    android:versionCode="5"
    android:versionName="0.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <compatible-screens>

        <!-- all small size screens -->

    </compatible-screens>
    
     <!-- Suporte para Multiplas Telas -->
    <supports-screens android:resizeable="false" />
    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:anyDensity="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/premium"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Estilo" >
        
        
        <service android:name="com.br.service.Service1"/>
        

        <activity
            android:name="com.br.guiajarinu.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.logica.Anuncio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.br.guiajarinu.NavigationMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.br.guiajarinu.ViewAnuncio"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.br.guiajarinu.Onibus"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>